@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d5ab9;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#quotes {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  height: 250px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 0 20px;
}
#author {
  height: 40px;
  font-size: 12px;
  margin-left: auto;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
#btn {
  outline: none;
  border: none;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #4d75a5;
  cursor: pointer;
  color: rgb(210, 210, 210);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#btn:hover {
  background-color: #1f4877;
}
